<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    #parse("/layout/static.vm")
</head>
<body>
    #parse("/layout/header.vm")
    #parse("/layout/leftmenu.vm")
<div class="main-content">
    <div id="screnncontent">
        $screen_content
    </div>
</div>
<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
    #parse("/layout/bottom.vm")

<div id="show-message-container"></div>

<script>
    var errormsg = '$!{errormsg}';
    $(document).ready(function () {
        $('[data-rel=tooltip]').tooltip();

        $('.date-picker').datepicker({autoclose: '1'}).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        if ('' != errormsg){
            btcMessage("错误消息", errormsg);
        }
    });

    function messageRecived(msg) {
        #if($!request.getAttribute("aliasPinyin"))
        #end

        #set($SHOW_MESSAGE = $!request.getAttribute("SHOW_MESSAGE"))

        #if($SHOW_MESSAGE)
            #if($SHOW_MESSAGE == 1)
                btcMessage("后台消息", msg);
            #end
        #else
            btcMessage("后台消息", msg);
        #end
    }

</script>

</body>
</html>
